
body{
  background-color: #110433;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='362' height='362' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23141B44' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23291555'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo{
   font-family: 'Momo+Trust+Display', sans-serif;
  font-weight: 900;
  letter-spacing: 1.5px;
  border-radius: 20px;
}
.navbar{
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
  background-color:rgb(201, 205, 209) !important;
}
.logo-name,.nav-link{
  color: #1d2b64; /* Royal blue, for example */
  font-weight: bold;
}
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  flex:1;
  padding-top: 80px;
}
.cc{
  color: #1d2b64; /* Royal blue, for example */
  font-weight: bold;
  text-align: center;
  background-color: rgb(234, 181, 112);
}
.footer{
  background-color: rgba(255, 255, 255, 0.7);
}
.carousel-item img {
  height: 60vh;        /* 60% of the viewport height */
  object-fit: cover;   /* crops image to fill without distortion */
}
.home-h1{
  font-family: 'Montserrat', sans-serif !important;
  color: rgb(165, 209, 247) !important;
}
.lead{
   font-family: 'Roboto', sans-serif;
   color: rgb(179, 147, 105);
}
.button:hover{
   background-color: #084298; 
  transform: scale(1.05);    
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  cursor: pointer;
}
.nav-link:hover {
  color: white;  
  background-color: rgb(83, 83, 145);           
}
.nav-link {
  transition: all 0.3s ease-in-out;
  border-radius: 0.65rem;  
}
.nav-link.active {
  color: white;  
background-color: rgb(83, 83, 145);
}
h3.fw-bold {
  color: rgb(165, 209, 247) !important;
}



